:root {
    --dark: #605B56;
    --medium: #837A75;
    --green: #ACC18A;
    --lightgreen: #DAFEB7;
    --lightest: #F2FBE0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--lightest);
    color: var(--dark);
    line-height: 1.6;
}


header {
    background: var(--dark);
    color: var(--lightest);
    text-align: center;
    padding: 2rem 1rem;
}

header p {
    margin-top: .5rem;
    font-size: 1.1rem;
}

.nav a {
    color: var(--lightgreen);
    margin: 0 .8rem;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    color: var(--green);
}

.section {
    max-width: 900px;
    margin: auto;
    padding: 2rem 1rem;
}

h2 {
    color: var(--medium);
}

.skill-list {
    padding-left: 1rem;
}

.skill-list li {
    margin-bottom: .5rem;
}

.project-card {
    background: white;
    border-left: 6px solid var(--green);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

@media (max-width: 700px) {

    header h1 {
        font-size: 1.8rem;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: .5rem;
    }

    .nav a {
        display: block;
        padding: .3rem .5rem;
    }

    .section {
        padding: 1.3rem;
    }

    .project-card {
        padding: .8rem;
    }
}
